-- DropForeignKey
ALTER TABLE "UserVoipConfig" DROP CONSTRAINT "UserVoipConfig_userId_fkey";

-- DropIndex
DROP INDEX "Action_voipProvider_voipCallId_key";

-- AlterTable
ALTER TABLE "Action" DROP COLUMN "actionStatus",
DROP COLUMN "voipActionItems",
DROP COLUMN "voipCallId",
DROP COLUMN "voipEnrichedAt",
DROP COLUMN "voipProvider",
DROP COLUMN "voipRecordingUrl",
DROP COLUMN "voipSentiment",
DROP COLUMN "voipSummary",
DROP COLUMN "voipTopics",
DROP COLUMN "voipTranscript";

-- DropTable
DROP TABLE "UserVoipConfig";

-- DropTable
DROP TABLE "VoipWorkspaceConfig";

-- DropEnum
DROP TYPE "ActionStatus";

